{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'leads/css/admin_custom.css' %}">
{% endblock %}

{% block branding %}
<div class="container text-center my-3">
  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center" id="redes-sociais">
    <h1 id="site-name">
        <img id="site-logo" src="{% static 'leads/img/logo_rejane_site_transparente-removebg-preview-150x150.png' %}" alt="Logo">
        
    </h1>
    <h1 id="site-name"></h1>
    <a href="{% url 'admin:index' %}">Painel Administrativo</a>
  </div>
</div>
  
{% endblock %}
