{% extends "admin/base_site.html" %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="mb-4 display-6">Bem-vindo ao Painel Administrativo - Rejane Decorações</h1>

    <div class="row justify-content-center g-3">
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <a href="{% url 'admin:leads_zipdefotos_add' %}" class="admin-btn a text-center">
                📦 Enviar fotos (.zip)
            </a>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <a href="{% url 'admin:galeria' %}" class="admin-btn b text-center">
                📁 Acessar Galeria de Fotos
            </a>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <a href="/" class="admin-btn c text-center">
                🏠 Voltar para Site
            </a>
        </div>
    </div>
</div>

{{ block.super }}
{% endblock %}
