<!doctype html>
<html lang="pt-BR">

{% include 'head.html' %}


<body>
    {% include 'header.html' %}
    <main id="content" class="site-main">
        <div class="container">
            <!-- apresentacao inicial com foto de fundo -->
            {% include 'jumbotron.html' %}
            <!-- inicio dos temas -->	
            {% include 'tema_decoracoes.html' %}
        </div>
        
         <!-- avaliacoes google e mapa -->            
        {% include 'secoes.html' %}

    </main>
   

    <!-- rodape -->
    {% include 'footer.html' %}

</body>

</html>
