{% load static %}
<div data-elementor-type="footer" data-elementor-id="1103" class="elementor elementor-1103 elementor-location-footer">
  <div class="elementor-element elementor-element-5810306 e-flex e-con-boxed e-con e-parent" data-id="5810306">
    <div class="e-con-inner">
      <div class="elementor-element elementor-element-ffc19a4 e-con-full e-flex e-con e-child" data-id="ffc19a4">
        <div class="elementor-element elementor-element-366617f elementor-widget elementor-widget-image" data-id="366617f">
          <div class="elementor-widget-container">
            <img width="500" height="500" src="{% static 'images/logo/logo_rejane_site_transparente-removebg-preview.png' %}" class="attachment-large size-large" alt="Logo Rejane" srcset="
                {% static 'images/logo/logo_rejane_site_transparente-removebg-preview.png' %} 500w,
                {% static 'images/logo/logo_rejane_site_transparente-removebg-preview-300x300.png' %} 300w,
                {% static 'images/logo/logo_rejane_site_transparente-removebg-preview-150x150.png' %} 150w,
                {% static 'images/logo/logo_rejane_site_transparente-removebg-preview-100x100.png' %} 100w,
                {% static 'images/logo/logo_rejane_site_transparente-removebg-preview-200x200.png' %} 200w,
                {% static 'images/logo/logo_rejane_site_transparente-removebg-preview-400x400.png' %} 400w" sizes="(max-width: 500px) 100vw, 500px" />
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-7f079bb e-con-full e-flex e-con e-child" data-id="7f079bb">
        <div class="elementor-element elementor-element-947de54 elementor-widget elementor-widget-heading" data-id="947de54">
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">Decoração de Festa em Belo Horizonte</h2>
          </div>
        </div>
        <div class="elementor-element elementor-element-be7e41c elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading" data-id="be7e41c">
          <div class="elementor-widget-container">
            <p class="elementor-heading-title elementor-size-default">
              R. Cananéia, 135 - Caiçaras, Belo Horizonte - MG, 30770-120<br />
              Rejane Decoração de Festa em BH
            </p>
          </div>
        </div>
        <div class="elementor-element elementor-element-90a899c elementor-widget elementor-widget-heading" data-id="90a899c">
          <div class="elementor-widget-container">
            <p class="elementor-heading-title elementor-size-default">
              Rejane decoração de festa 2025 © copyright<br />
              Todos os direitos Reservados
            </p>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-e0b5e8c e-con-full e-flex e-con e-child" data-id="e0b5e8c">
        <div class="elementor-element elementor-element-41a0de2 elementor-widget elementor-widget-spacer" data-id="41a0de2">
          <div class="elementor-widget-container">
            <div class="elementor-spacer">
              <div class="elementor-spacer-inner"></div>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-e4f75df elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="e4f75df">
          <div class="elementor-widget-container">
            <ul class="elementor-icon-list-items">
              <li class="elementor-icon-list-item">
                <a href="tel:+5531991409374">
                  <span class="elementor-icon-list-icon">
                    <svg aria-hidden="true" class="e-font-icon-svg e-fas-phone-alt" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                      <path d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z"></path>
                    </svg>
                  </span>
                  <span class="elementor-icon-list-text">(31) 99140-9374</span>
                </a>
              </li>
              <li class="elementor-icon-list-item">
                <span class="elementor-icon-list-icon">
                  <svg aria-hidden="true" class="e-font-icon-svg e-fas-envelope" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                    <path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path>
                  </svg>
                </span>
                <span class="elementor-icon-list-text">contato@rejanedecoracoes.com.br</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="elementor-element elementor-element-019a838 elementor-align-left elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="019a838">
          <div class="elementor-widget-container">
            <ul class="elementor-icon-list-items">
              <li class="elementor-icon-list-item">
                <a href="{% url 'politicas' %}"><span class="elementor-icon-list-text">Políticas de Privacidade</span></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="elementor-element elementor-element-218599a elementor-align-left elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="218599a">
          <div class="elementor-widget-container">
            <ul class="elementor-icon-list-items">
              <li class="elementor-icon-list-item">
                <a href="{% url 'termos' %}"><span class="elementor-icon-list-text">Termos de Uso</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
