{% load static %}
<!-- Seção Temas -->
<section id="temas" class="container my-5">
  <h2 class="text-center">TEMAS</h2>
  <p class="text-center mb-4">Escolha o tema favorito do seu filho(a)</p>
  <div class="row g-2">
    <!-- Exemplo de thumb -->
    {% if temas %}
        {% for tema in temas %}
            <div class="col-4 col-md-2">
             <a href="{{ tema.rota }}">
                <div class="card text-center">
                    <img src="{{ tema.caminho }}" class="img-fluid" alt="Tema {{ forloop.counter }}" style="height: 150px; width: 100%; object-fit: cover;">
                    <div class="card-body p-2">
                    <p class="card-text small">{{ tema.nome }}</p>
                    </div>
                </div>
            </a>
            </div>
            

       {% endfor %}
    </div>
    {% else %}
        <p>Nenhum tema de decoração encontrado.</p>
    {% endif %}
</section>